/* Made with love, completely from scratch, in HTML and CSS
* by Jeremiah Milbauer jeremiah.milbauer.info
* License: CC BY-SA 4.0 - https://creativecommons.org/licenses/by-sa/4.0/
*/

/*.scrollable {
    height: 100vh;
    overflow-y: auto;
}*/

/* <meta name="viewport" content="initial-scale=1, maximum-scale=1"> */

@viewport {
    width: device-width;
    initial-scale: 1.0;
}

@media all and (max-width: 650px) {
    .disappear { display: none; }
}

.standard {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100vw;
  /* overflow-x: hidden; */
}

.textspan {
    width: 500px;
}

.imgspan {
    width: 100px;
}

h1 {
    font-family: Caveat, courier;
    font-family: serif;
    font-weight: 400;
    font-size: 56px;
    margin-bottom: 4px;
    margin-top: 0px;
    padding-top: 20px;
}

.content h2 {
  font-family: Caveat, sans-serif, italic;
  font-weight: 400;
  font-size: 24px;
}

h5 {
  font-family: Caveat, sans-serif, italic;
  font-size: 32px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
}

h4 {
  font-family: Overpass, helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.demopage h4 {
  font-family: Caveat, sans-serif, italic;
  font-size: 32px;
}

p {
    font-family: Overpass, helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 0px;
    line-height: 1.5;
}

ul {
    font-family: Overpass, helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin-top: 0px;
    line-height: 1.5;
}

#bgbox {
  background-color: rgb(255,255,255) ;
  box-shadow: rgb(255,255,255)  0px 15px 15px 0px;
  margin: 0px;
  padding: 0px;
}

.banner div {
  z-index: 999;
  margin-bottom: 40px;
  padding-bottom: 20px;
  /* top: 0px; */
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.profile {
  vertical-align: top;
  margin-bottom: 50px;
}

.profile div {
  margin-left: 50px;
}

.profile p {
  font-size:16px;
  margin: 0px;
}

.portrait img {
  border: 3px solid black;
  width: 200px;
  border-radius: 5%;
}

.contact img {
  height: 20px;
  vertical-align: top;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.index-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 890px;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.navbar a {
  color: black;
  text-decoration: none;
  border: none;
  transition: border .1s, background .5s;
  border-radius: 3px;
  /* border: 1px solid rgba(255,255,255,0); */
  /* border-radius: 1px; */
  /* border-bottom: 1px solid steelblue; */
}

.navbar a:hover {
  /* border-bottom: 3px solid steelblue; */
  background: #CEECFA;
  /* border: 3px solid #CEECFA; */
  border-bottom: 3px solid steelblue;
  /* color: steelblue; */
}

.content a {
  color: steelblue;
  text-decoration: none;
  /* border-bottom: 1.5px solid steelblue; */
  /* background: #c1c1c1; */
  transition: background .5s, border .1s;
  /* border: 3px solid rgba(255,255,255,0); */
  border-radius: 3px;
}

.content a:hover {
  /* color: green; */
  /* border-bottom: 2px solid steelblue; */
  background: #CEECFA;
  border-bottom: 3px solid steelblue;
}

.navbar {
  font-family: Overpass, helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 20px;
}

.project {
  font-family: Overpass, helvetica, sans-serif;
  font-weight: 100px;
}

.project h2 {
  font-family: Overpass, helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project h3 {
  font-size: 16px;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 10px;
  font-style: italic;
}

.project p {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.2;

}

.project img {
  max-height: 150px;
  border: 3px solid black;
  margin-right: 20px;
  /* transition: blur 1s, grayscale 1s; */
  /* filter: blur(1px) grayscale(40%); */
}

a img:hover {
  filter: drop-shadow(0 0 .5rem steelblue);
  /* filter: grayscale(0%) blur(0px); */
}






/*table, th, td, tr {
    border: 1px solid black;
}*/

.pagesection {
    margin-left: 20px;
}

.scenescape {
    color: lavender;
    background-color: black;
}

.foodie {
    color: white;
    background-color: darkorange;
}

.wikify {
    color: steelblue;
    background-color: white;
}

.ideology {
    color: white;
    background-color: darkslategrey;
}

.tutorials {
    color: lime;
    background-color: black;
}

.tutorials p {
    color: white;
}

.tutorials a {
    color: limegreen;
}

.homesteads {
    background-color: white;
    color: black;
}

.homesteads h1 {
    color: forestgreen;
}

.homesteads h2 {
    color: forestgreen;
}

.homesteads a {
    color: limegreen;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center
}

.center-content {
    text-align: left;
    width: 80vw;
    max-width: 1100px;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* .all-content {
    text-align: left;
    margin-left: 10vw;
}

.top-content {
    width: 50vw;
    margin-right: 40vw;
}

.main-content {
    width: 80vw;
    margin-right: 10vw;
} */




.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border: 2px solid darkred;
  outline: none;
  border-radius: 10px;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, .6); */

  background-color: white;
  color: darkred;

  transition: background-color .3s;
}

.btn:hover {
  background-color: darkred;
  color: white;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

/* #pic:hover {
  filter: grayscale(0);
  transition: 0.2s;
}

#pic {
  filter: grayscale(0.7);
  transition: 0.2s;
} */